
 /* top content */
#heading{
  text-align: center;
  background-color: white;
  padding: 2vh;
}

body{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin:0;
}

h4 {
  cursor: pointer;
}

#whole-list-box{
min-width: 340px;
background-color: #f1f1f1c4;
margin: 1vh;
}

.fa-list-check{
  color: #1a69e3;
}

.list-input-plus{
  display: flex;
  position: relative;
  align-items: center;
}
div input{
    
    width: 34vw;
    height: 5vh;
}

.comp-clear{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2vh;
}

.dbl-check-comp{
display: flex;
gap: 1vh;
align-items: center;
flex-wrap: nowrap;
}
.shadow :hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.fa-check-double{
    color: blue;
}

.trash-clear{
display: flex;
gap: 1vh;
align-items: center;
flex-wrap: nowrap;
}

.input-task{
  padding: 0px 2.4vw 0 3vw;
  min-width: 340px;
  font-size: 2.7vh;
  color: #745f5f;
  outline: none;
}

.input-task::placeholder{
  color:rgba(68, 65, 65, 0.767);
  font-size: 2.5vh;
}


/* center styles */

.lft-tsks-comp-uncomp{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1vh;
}
.tasks-left-task-word{
  font-size: 1.8vh;
  display: flex;
  gap: 1vh;
  align-items: flex-end;
  font-weight: lighter;
}

.tasks-left-task-word:hover{
cursor: default;
}

.all-comp-uncomp{
    display: flex;
    gap: 4vh;
    flex-wrap: nowrap;
    font-size: 2vh;
}

div h3{
    margin:0;
    font-size: 2.5vh;
}


.input-icons    {
    position: absolute;
}

.check{
font-size: 4vh;
padding: 0.7vh;
}

.add-icon{
    transform: translateX(-50%);
    left: 97%;
    color: red;
    display: none;
}

.fa-trash{
color: red;
}

.new-task{
    font-family: sans-serif;
    font-size: 4vh;
    max-width: 39.7vw;
}
.new-task{
  max-height: 62vh;
overflow-x: hidden;
overflow-y: scroll;
}

.modify{
  display: flex;
  gap:1vh;
  align-items: center;
  align-items: flex-end;
}

/*///////////////// javascript styles////////////////// */

.task {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid #eddede;
    height: 4.5vh;
    gap: 2vh;
  }
  
  .task input[type="checkbox"] {
    /* margin-right: 10px; */
    width: 2vw;
    height: 3vh;
  }
  
  .task label {
    width: 68vh;
    overflow: hidden;
    font-size: 3vh;
  }
  
 
  .fa-circle-minus{
    color:rgba(136, 119, 119, 0.178);
    padding-right: 1vh;
    font-size: 3vh;
  }

  .task:hover .fa-circle-minus{
    color: red;
  }

  .task:hover{
    background-color: rgba(161, 148, 148, 0.151);
    transform: scale(1.01);
  }

  .cut-line {
    text-decoration: line-through;
  }
  
   /* animation for input style while entering task */
  @keyframes inputFocus {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .input-task:focus {
    animation: inputFocus 1s;
  }

  /* animation for adding task in the container  */
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fade-in 0.3s ease-in-out;
  }
  
/* animation for deleting a task */
  @keyframes slide-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .slide-right {
    animation-name: slide-right;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
  
  